
{% extends 'base.html'%}
{% block content %}
{% include "includes/header.html" %}
<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y" style="min-height:70vh;">

<!-- ============================ COMPONENT REGISTER   ================================= -->
	<div class="card mx-auto" style="max-width: 540px; margin-top:40px;">
      <article class="card-body">
		{%include 'includes/alerts.html'%}
		<header class="mb-4"><h4 class="card-title">Sign up</h4></header>
		<form action="{%url 'register'%}" method="POST">
			{% csrf_token %}
				<div class="form-row">
					<div class="form-group col-md-6">
						<label>First name</label>
						{{form.first_name}}
						<div class="invalid-feedback">
							Please enter a message in the textarea.
						  </div>
					</div> <!-- form-group end.// -->
					<div class="form-group col-md-6">
						<label>Last name</label>
						{{form.last_name}}
					</div> <!-- form-group end.// -->
				</div>

				<div class="form-row">
					<div class="form-group col-md-6">
						<label>Email</label>
						{{form.email}}
						<small class="form-text text-muted">We'll never share your email with anyone else.</small>
					</div> <!-- form-group end.// -->
					<div class="form-group col-md-6">
						<label>Phone number</label>
						{{form.phone_number}}
					</div> <!-- form-group end.// -->
				</div> <!-- form-row.// -->

				<div class="form-row">
					<div class="form-group col-md-6">
						<label>Create password</label>
					    {{form.password}}
					</div> <!-- form-group end.// --> 
					<div class="form-group col-md-6">
						<label>Repeat password</label>
					    {{form.confirm_password}}
					</div> <!-- form-group end.// -->  
				</div>
				<div class="form-row">
			    	<div class="form-group col-md-12 mx-auto mt-2">
			        	<button type="submit" class="btn btn-primary btn-block"> Register  </button>
			    	</div> <!-- form-group// --> 
				</div>     
				<div class="mt-2 col-md-12 pt-2 pb-0">
					{{form.email.errors}}
					{{form.non_field_errors}}
					</div>
			</form>
		</article><!-- card-body.// -->
    </div> <!-- card .// -->
    <p class="text-center mt-4">Have an account? <a href="{%url 'login'%}">Log In</a></p>
    <br><br>
<!-- ============================ COMPONENT REGISTER  END.// ================================= -->


</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
{% include "includes/footer.html" %}
{% endblock%}