__pycache__/
*.py[cod]
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg-info/
.eggs/
*.log
*.pot
*.pyc
*.pyo
*.db
*.sqlite3
*.pylint.d
media/
staticfiles/
static/
**/migrations/*
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
*.iml
env/