__pycache__/
*.py[cod]
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg-info/
.eggs/
*.log
*.pot
*.pyc
*.pyo
*.db
*.sqlite3
*.pylint.d
media/
staticfiles/
core/static/
core/img/
!static/img/favicon.ico
!static/img/login_log.png
!core/static/js/
!core/static/css/
!core/static/lib/
!core/img/favicon.ico
!core/img/login_logo.png
**/migrations/*
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
*.iml
.env